<a href="https://colab.research.google.com/github/FredBrom/curso_pandas/blob/main/aula_08_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#Aula do dia 08/02/22 do curso Análise de Dados com Python e Pandas

In [1]:
import pandas as pd

comb_df = pd.read_excel('ca-2021-02.xlsx')

In [24]:
#Lista as colunas do data-frame
print(comb_df.keys())

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [ ]:
#Cria um data-frame contendo Revenda, Municipio, Produto e Valor de Venda
#Apenas para Gasolina

gas_df = comb_df[['Revenda', 'Municipio', 'Produto', 'Valor de Venda']]
gas_df = gas_df.loc[gas_df['Produto'] == 'GASOLINA']

In [22]:
#Mostra a média de preço da gasolina
print('Preço Médio da gasolina no Brasil: R${0:2.2f}'.format(gas_df['Valor de Venda'].mean()))

Preço Médio da gasolina no Brasil: R$6.71

In [34]:
#Informa dados estatisticos da gasolina em BH 
print(gas_df.loc[gas_df['Municipio'] == 'BELO HORIZONTE'].describe())

       Valor de Venda
count      254.000000
mean         6.820602
std          0.066560
min          6.675000
25%          6.775000
50%          6.790000
75%          6.875000
max          6.999000

DataFrame.loc[] com múltiplas condições para filtragem

In [43]:
from pandas.core.internals.blocks import com
#Quais são são os preços e postos de ETANOL na minha cidade

etanol_df = comb_df.loc[(comb_df['Produto'] == 'ETANOL') & (comb_df['Municipio'] == 'BELO HORIZONTE')][['Revenda', 'Municipio', 'Produto', 'Valor de Venda']]

display(etanol_df)

,Revenda,Municipio,Produto,Valor de Venda
12196,POSTO TUNEL LTDA,BELO HORIZONTE,ETANOL,5.495
12199,POSTO CN LTDA,BELO HORIZONTE,ETANOL,5.494
12204,POSTO MINAS SHOPPING LTDA,BELO HORIZONTE,ETANOL,5.485
12208,CENTRO COMERCIAL DE COMBUSTIVEIS MINAS PALMARE...,BELO HORIZONTE,ETANOL,5.490
12210,POSTO DO PAPAI LTDA,BELO HORIZONTE,ETANOL,5.489
...,...,...,...,...
165349,POSTO R.E.M. LTDA,BELO HORIZONTE,ETANOL,5.275
166201,POSTO PARQUE LTDA,BELO HORIZONTE,ETANOL,5.269
166319,POSTO ZEPPELIN LTDA,BELO HORIZONTE,ETANOL,5.275
166509,POSTO DE COMBUSTIVEIS VILA PLATINA LTDA,BELO HORIZONTE,ETANOL,5.275
166546,POSTO FLORESTA LTDA.,BELO HORIZONTE,ETANOL,5.272

In [48]:
#Ordenar os postos por preço do menor para o maior
display(etanol_df.sort_values(by = 'Valor de Venda'))

,Revenda,Municipio,Produto,Valor de Venda
144994,POSTO GALL LTDA,BELO HORIZONTE,ETANOL,5.098
164146,POSTO BOM BOM LTDA,BELO HORIZONTE,ETANOL,5.259
164116,CENTRO COMERCIAL DE COMBUSTIVEIS MINAS PALMARE...,BELO HORIZONTE,ETANOL,5.260
125936,POSTO ZEPPE JARDIM LTDA,BELO HORIZONTE,ETANOL,5.265
135386,POSTO ZEPPE JARDIM LTDA,BELO HORIZONTE,ETANOL,5.265
...,...,...,...,...
50264,POSTO CACHOEIRINHA LTDA.,BELO HORIZONTE,ETANOL,5.599
128965,POSTO BRUNATA LTDA,BELO HORIZONTE,ETANOL,5.599
31274,POSTO MARTE LTDA,BELO HORIZONTE,ETANOL,5.599
31237,POSTO PHOENIX LTDA,BELO HORIZONTE,ETANOL,5.635
69742,POSTO BH LTDA,BELO HORIZONTE,ETANOL,5.742

##Exportar o data frame in CSV contendo os Postos de BH com ETANOL

In [53]:
#Exportar o data frame in CSV contendo os Postos de BH com ETANOL
with open('postos_bh.txt','w') as file_out:
  file_out.write(etanol_df.to_csv())

In [89]:
#Qual a média dos Produtos GASOLINA e GASOLINA ADITIVADA do Bairro 
#MOOCA do Municipio SAO PAULO

mooca_df = comb_df.loc[((comb_df['Bairro'] == 'MOOCA') & 
                       (comb_df['Municipio'] == 'SAO PAULO')) &
                       ((comb_df['Produto'] == 'GASOLINA') | 
                        (comb_df['Produto'] == 'GASOLINA ADITIVADA'))][
                        ['Revenda', 'Municipio', 'Bairro', 'Produto', 'Valor de Venda']]

media_preco_moca = mooca_df['Valor de Venda'].mean()
print('Preço médio da Gasolina Comum e Aditivada no bairro Mooca:')
print('R${0:2.2f}'.format(media_preco_moca))

Preço médio da Gasolina Comum e Aditivada no bairro Mooca:
R$6.58

In [108]:
#Como mostrar a média do Valor de Venda por PRODUTO
valor_comb = comb_df[['Produto', 'Valor de Venda']]
print(valor_comb.groupby(by='Produto').mean().sort_values(by='Valor de Venda').round(2))

                    Valor de Venda
Produto
GNV                           4.39
DIESEL                        5.38
DIESEL S10                    5.45
ETANOL                        5.46
GASOLINA                      6.71
GASOLINA ADITIVADA            6.86

##Adicionando dados ao data-frame
exemplo:
Adicionar uma coluna de valor booleano chamado 'Ativo" que, por padrão, será True para TODAS as linas.

In [109]:
comb_df['Ativo'] = True

In [113]:
print(comb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
 16  Ativo              168409 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(13)
memory usage: 20.7+ MB
None

##Como condicionar o valor da nova coluna
Exemplo:
Coluna nova chamada 'Obs' que preencha automaticamente 'MELHOR CIDADE' quando municipio for (sua cidade).

In [ ]:
comb_df['Obs'] = ""
comb_df['Obs'] = ['Melhor Cidade' if municipio == 'BELO HORIZONTE' else '' for municipio in comb_df['Municipio']]

print(comb_df)

##Exportar Dados para Excel

In [131]:
etanol_df.to_excel('etanol_BH.xlsx', sheet_name='Postos em BH', header=False, index=False)